body {
	padding: 0;
	margin: 0;
	background-color: blue;
}

.container{
	height:500px;
	width: 350px;
	position: absolute;
	margin: auto;
	top:0;
	bottom:0;
	left:0;
	right:0;
	z-index:-1;

}

.dog{
	position: absolute;
	top:150px;
	left:50px;

}

.face{
	background-color: #AA734F;
	height:170px;
	width:130px;
	border-radius: 40%;

}

.ear-l,.ear-r{
	width:80px;
	height:80px;
	border-radius:30px;
	clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
	background-color: #32190E; 
	position:absolute;
	z-index: -1;
}
.ear-l{
	bottom: 68px;
    left: -49px;
	transform: rotate(180deg);
	
}

.ear-r{
	bottom:68px;
	left:97px;
	transform: rotate(-180deg);
	transform:scaleX(-1);
}

.eye-l,.eye-r{
	background-color: #32190E;
	height: 30px;
	width: 30px;
	border-radius:50%;
	position:absolute;
}

.eye-l{
	bottom: 80px;
	left:25px;
}

.eye-r{
	bottom:80px;
	left:80px;
}

.eyeball{
	background-color: black;
	height:20px;
	width:20px;
	border-radius: 50%;
	position: absolute;
	top:3px;
	left:5px;
}

.highlight{
	background-color:white;
	height:8px;
	width:4px;
	border-radius: 70%;
	position: absolute;
	top:3px;
	left:10px;
	transform: rotate(-30deg)
}

.nose{
	background-color:black;
	height:30px;
	width:40px;
	border-radius: 50%;
	position:absolute;
	bottom:30px;
	left:50px;	
}


 .mouth{
 	width: 80px;
    height: 30px; 
    border-bottom-left-radius: 70px;
    border-bottom-right-radius: 50px;
    border: 5px solid black;
    border-top: 0;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
	bottom:0px;
	left:-23px;
}

.tongue{
	background-color: #F28FB5;
	height: 35px;
	width: 25px;
	border-radius:44% 56% 30% 70% / 0% 64% 36% 100% ;
	position: absolute;
	bottom:-25px;
	left:30px;
	transform:rotate(-10deg);



}

.body{
	background-color: #AA734F;
	height:140px;
	width: 150px;
	position:absolute;
	left:0px;
	bottom:-133px;
	border-radius: 65px 65px 2px 2px;
	z-index: -1;
	overflow: hidden; 
}

.mane{
	background-color:#32190E;
	height:140px;
	width: 150px;
	clip-path: polygon(0 0, 21% 0%, 33% 15%, 29% 26%, 39% 39%, 48% 51%, 63% 36%, 66% 26%, 62% 18%, 68% 4%, 74% 0%, 99% 0%, 100% 37%, 89% 66%, 82% 62%, 82% 74%, 76% 70%, 76% 83%, 66% 90%, 59% 100%, 49% 100%, 41% 91%, 33% 87%, 32% 78%, 28% 78%, 28% 68%, 19% 73%, 22% 61%, 13% 62%, 18% 48%, 10% 55%, 1% 41%, 0 24%);
	position:absolute;

	
	
}

.paw-l,.paw-r {
	background-color: #AA734F;
	height: 40px;
	width: 40px;
	position:absolute;
	border-radius: 0 0 20px 20px;
}
.paw-l{
	top:300px;
}

.paw-r{
	top:300px;
	left:110px;
}


.tail{
	background-color: #995E3D;
	width: 100px;
	height: 20px;
	position:absolute;
	top:260px;
	left: 120px;
	border-radius: 0 20px 20px 0;
	z-index: -2;
	transform: rotate(-35deg)


}

.shadow{
	background-color: rgba(8,8,8,0.05);
	height:70px;
	width: 190px;
	border-radius:50%;
	position:absolute;
	top: 304px;
	left: -3px;
	z-index: -3;
}

